.preSidebar {
    background: #121211;
    width: 70px;
    transition: width 0.3s ease;
    font-size: 15px;
}

.preSidebar.collapsed {
    width: 30px;
    padding: 10px;
}

.preSidebar.collapsed .logo,
.preSidebar.collapsed nav {
    display: none;
}

.preSidebar .hide-sidebar button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
}
