.file {
    padding: 5px 0;
    border-bottom: solid 1px #3a3939;
    display: grid;
    grid-template-columns: 1fr 4fr repeat(4, 1fr);
    align-items: center;
    transition: transform 0.2s ease-in-out;
}

.filelist__empty {
    color: white;
    text-align: center;
    margin-top: 10px;
}

.file:hover {
    transform: scale(1.02);
}

.file__img {
    justify-self: center;
}

.file__name,
.file__date,
.file__size,
.file__access {
    color: white;
}

.file__date {
    grid-column: 4;
    justify-self: center;
}

.file__size {
    grid-column: 5;
    justify-self: center;
}

.file__access {
    grid-column: 6;
    justify-self: center;
}

.file__btn {
    display: none;
}

.file:hover .file__download {
    grid-column: 4;
    display: block;
}

.file:hover .file__delete {
    grid-column: 5;
    display: block;
}

.file:hover .file__share {
    grid-column: 6;
    display: block;
}
